/* Make Scrolling Smooth */

html{

    scroll-behavior: smooth;
}

/*get rid of padding and sizing on body so header is at top*/

body{

    box-sizing: border-box;
    padding: 0; 
    margin: 0;


}

/*add padding to back to rest of page */

main {

    padding: 2vw;
}


.logo{

    display: flex;
    align-items: center;


}

.logo img{
    height: 6vw;
    width: 6vw;
    padding-right: 10px; 

}

.logo h1{
    font-size: 1.2em;
}

.nav__menu li.hoverboy :hover, .nav__menu li.hoverboy :focus{

    color: #59524C ;
    background-color: #ADA193;
    border-radius: 10px;
    outline: none;

    padding: 2px; 


}

.nav__menu .hoverboy a :hover{

    color:#ADA193; 

    
}

.nav__menu li:first-of-type :hover, .nav__menu li:first-of-type :focus{

    color:#ADA193;
    background-color: #59524C; 
}





.nav__menu li:hover, .nav__menu li:focus ~ ul.nav_menu a{

    color: #59524C;
    outline: none;

}

/* Hamburger Icon */


body{

    height: 100vh; 
}

*::before, *::after{

    box-sizing: border-box; 
    margin: 0;
    padding: 0; 
}

.nav{

    border-bottom: 1px solid #ADA193;
}

.nav__toggle{

    position:absolute; 
    cursor:pointer;
    margin: 0rem 1rem;
    right: 0; 
}

.nav svg{

    width: 1.5rem;
    fill: #ADA193; 

}

.nav .close{

    display: none; 
}

.nav .menu{

    margin-top: 0.2rem; 
}

#nav__checkbox{

    display: none; 


}

.nav__menu{

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 1rem; 
}

.nav__menu li{ 
    list-style: none; 
    display: none; 
    padding: 0.5em 0; 

}

.nav__menu li:first-child {

    margin-right: auto; 
    display: block; 
   
}

.nav__menu a{
    text-decoration: none;    
    color: inherit;
    color: #ADA193;
    background-attachment: #59524C; 
    font-size: 1.5rem; 
}

svg{
    width: 1.5rem; 
    fill: #ADA193; 

}

#nav__checkbox:checked ~ ul.nav__menu li{

    display: block; 


}

#nav__checkbox:checked ~ label.nav__toggle .close{

    display:block;

}

#nav-checkbox:checked ~ label.nav__toggle .menu{

    display:none; 
}

@media only screen and (min-width: 960px){

    .nav__toggle{

        display: none;
    }

    .nav__menu{

        flex-direction: row; 
    }

    .nav__menu li{

        display: inline-block;
    }
}